.container {
	padding-right: 0%;
	padding-left: 0%
}

@media (min-width:576px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:768px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:992px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 100%
	}
}

.col-form-label-sm {
	padding-top: calc(.25rem + 0px);
	padding-bottom: calc(.25rem + 0px);
	font-size: .6875rem;
	line-height: 1.0
}

.navbar-brand {
	padding-top: .06rem;
	padding-bottom: .06rem
}

.pt-4,
.py-4 {
	padding-top: 0.5rem!important
}

.card {
    margin: 0px auto
}

.card-img-top {
    background-color: #e6f2ff;
}

.card-body {
    padding: 0.5rem
}

.card-footer {
    padding: 0.3rem 1.0rem;
}

.more {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.more:hover {
    text-decoration: none;
}

.card-title {
    font-weight: bold;
}

@media (min-width:576px) {
    .card-deck {
        margin-right: 0px;
        margin-left: 0px
    }
}

.form-tel {
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

