.container {
	padding-right: 0%;
	padding-left: 0%
}

@media (min-width:576px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:768px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:992px) {
	.container {
		max-width: 100%
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 100%
	}
}

.card {
    margin: 0px auto;
}

.card-header {
    background-color: rgba(204,230,255, 0.8);
    font-weight: bold;
}

@media (min-width:576px) {
    .card-deck {
        margin-right: 0px;
        margin-left: 0px
    }
}

.col-form-label-sm {
	padding-top: calc(.25rem + 0px);
	padding-bottom: calc(.25rem + 0px);
	font-size: .6875rem;
	line-height: 1.0
}

.navbar-brand {
	padding-top: .06rem;
	padding-bottom: .06rem
}

.pt-4,
.py-4 {
	padding-top: 0rem!important;
    margin-top: auto;
}

.more {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.more:hover {
    text-decoration: none;
}

.form-tel {
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

#return-to-top {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    background: rgba(77,0,102, 0.8);
    width: 35px;
    height: 35px;
    display: block;
    display:none;
    border-radius: 35px;
    border-style: solid;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: absolute;
    left: 7px;
    top: 8px;
    font-size: 16px;    
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #cc33ff;
}

#return-to-top:hover i {
    color: #fff;
    top: 4px;
}
